@model net_car_ASPNETCORE.Models.Motorista

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@section head {
	<link rel="stylesheet" runat="server" type="text/css" href="~/css/NetCarMasterStyles.css" />
	<link rel="stylesheet" runat="server" type="text/css" href="~/css/MotoristaEdit.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

}
<div class="container-edit">
	<div style="margin-top: 50px"></div>
	<div>
		<h1 class="title-edit">Editar Motorista</h1>
	</div>

	<hr style="width: 90%; border: 1px solid lightgray" />
	<br />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Edit">
				<div class="form-group">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="cnh" />
					<div class="line">
						<div class="form-fields">
							<label asp-for="cnh" class="form-label"></label><br />
							<input asp-for="cnh" class="form-input" required="required" /><br />
							<span asp-validation-for="cnh"></span>
						</div>
						<div class="form-fields">
							<label asp-for="nome" class="form-label"></label><br />
							<input asp-for="nome" class="form-input" required="required" /><br />
							<span asp-validation-for="nome"></span>
						</div>
					</div>
					<div class="line">
						<div class="form-fields">
							<label asp-for="cpf" class="form-label"></label><br />
							<input asp-for="cpf" class="form-input" required="required" /><br />
							<span asp-validation-for="cpf"></span>
						</div>
						<div class="form-fields">
							<label class="form-label">Cliente</label><br />
							<select asp-for="cnpj_cliente" class="client-dropdown">
								<option>
									Selecione um cliente
								</option>
								@for (int i = 0; i < ViewBag.count; i++)
								{
									if(ViewBag.valueCnpj[i] == Model.cnpj_cliente)
									{
										<option value="@ViewBag.valueCnpj[i]" selected>@ViewBag.cnpj[i]</option>
									}
									else
									{
										<option value="@ViewBag.valueCnpj[i]">@ViewBag.cnpj[i]</option>
									}
								}
							</select>
						</div>
					</div>
					<div class="radio-fields">
						<label class="container">
							Ativo
							<input type="radio" checked="checked" name="status" value="Ativo" asp-for="status">
							<span class="checkmark"></span>
						</label>
						<label class="container">
							Inativo
							<input type="radio" name="status" value="Inativo" asp-for="status">
							<span class="checkmark"></span>
						</label>
					</div>
					<div class="btn-container">
						<div>
							<input type="submit" value="Editar" class="submit-btn" />
						</div>
						<div>
							<a class="back-btn" asp-action="Index">Voltar</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
